/*Login y Registro*/
.font-16-weight{
    font-size: 16px;
    font-weight: 400;
    color: #3D998D !important;
}

.background-container-green{
    background-color:#6ff5e3 !important;
    padding: 5rem 0rem;
}
/*Div de caja de formulario de registro*/
.login-registro{
    background-color:#f6f6f6 !important;
    width: 600px;
    /*min-width: 400px;*/
    height: auto;
    margin-left:auto;
    margin-right:auto;
    border: 4px solid #b9b5b5;
    padding: 3rem 5rem !important;
}
.logo-registro{
    padding:1rem !important;
    margin-left: auto;
    margin-right: auto;
}

/*Div interno para los input de form*/
.div-form-login-registro{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
}
/*Class de los input*/
.input-login-registro{
    width: 100%;
    height: 40px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
}

/*.text-label{
    float:left;
    padding-left: inherit;
}*/

/*Class de los botones login signup publicar*/
.boton-login{
    width:65%;
    margin-left:auto !important;
    margin-right:auto !important;
    font-size: 18px;
    text-align: center;
}

/*Errores de registro*/
.error{
    color: #ce0808;
    padding: 2px 0px 0px 0px;
    font-size: 14px;
    border-radius: 4px;
    width: fit-content;
    display:none;
}

.input-error{
    border: 1px solid #ea4e4e;
}

/*Menu Principal*/
.background-container-menu{
    background-color:#40b4a5 !important;
    padding: 2rem 0rem;
}
.div-contenido-servicios{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:2rem 0rem;
}
/*Colors*/
.color-w{
    color:#f8f0f0;
}
.color-black{
    color: #161616;
}
.color-green{
    color:#3D998D;
}
.background-color-w{
    background-color:#f8f0f0 !important;
}
/*Mis Servicios*/
.background-container-greenmint{
    background-color: #6FE5D4;
}
.box-left{
    /*float:left;*/
    width:35%;
    min-width:240px;
    border-right:1px solid #f8f0f0;
}
.box-right{
    /*float:right;*/
    width:65%;
    min-width:350px;
}
#imagen-perfil-misservicios{
    width:85%;
    max-width: 270px;
    /*margin-left: auto;
    margin-right: auto;*/
    height: 270px;
    box-sizing:border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
/*.misServicios{
    width:95%;
}*/
.span-disponibilidad{
    background-color: #302b2b80;
    width:20%;
    min-width: 12rem;
    color:#ffffff;
    font-size:16px;
    border-radius: 3px;
    font-weight: bold;
    position: absolute; /*importante*/
    padding:3px;
    text-shadow:0 0 15px white;
    text-align:center;
    /*margin:5px 0px 0px 5px;*/
    top:0;
    display: block;

}
.tarjeta{
    width: 21rem;
    min-width:17rem;
}

.encabezado-imagen{
    width: 100%;
    height:220px;
}
.contenido-informacion{
    background-color:#272525;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
.titulo-servicio{
    font-weight: bold;
    font-size:18px;
 }
 .ver-mas,.editar-eliminar{
    color:#51d1be !important;
    text-decoration: none !important;
 }
 .ver-mas:hover,.editar-eliminar:hover{
    text-decoration: underline !important;
    color:#ffffff !important;
 }
 .precio{
     color:#8dd9db;
 }
 
 /*Formulario publicar servicio*/
 .form-publish{
    background-color:#FFFFFF !important;
    width: 90%;
    min-width: 300px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    border: 4px solid #b9b5b5;
    padding: 3rem 1rem !important;
}
.form-inner-publish{
    width:100%;
    font-size:18px;
}
.error-form{
    color: #ce0808;
    padding: 2px 0px 0px 0px;
    font-size: 14px;
    border-radius: 4px;
    width: fit-content;
    display:block;
}
/*Fonts Size*/
.font-s-14{
    font-size: 14px;
}
.font-s-16{
    font-size: 16px;
}
.font-s-18{
    font-size: 18px;
}
.font-s-20{
    font-size: 20px;
}
.font-s-24{
    font-size: 24px;
}
.font-s-36{
    font-size:36px;
}

/*Enlaces*/
.enlace-cursor-color:hover{
    color:#2ee1ee !important;
}
.anchor-custom{
    color: #292727 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.anchor-custom:hover{
    color: #fff3ef !important;
}

/*Search*/
.search{
    /*-webkit-appearance:none;*/
	border:1px solid #ddd3d3;
	/*border-right:0;*/
    height:40px;
    width:30%;
    max-width: 280px;
	min-width:200px;
    font:inherit;
    font-weight:500;
    /*color:#000000;*/
	padding: 0rem 0.5rem;
	line-height:1;
	text-align:left;
    outline:0;
}

/**/
@media (max-width: 1199px) {
    /**/
    /*.misServicios{
        width:80%;
    }*/
    .tarjeta{
        width:23rem;
    }
}

@media (max-width: 991px) {
    /*.login-registro {
        width: 70%; 
    }*/
    /**/
    .box-left{
        margin-left: auto;
        margin-right:auto;
        border-right:0;
        border-bottom:1px solid #f8f0f0;
        width:100%;
        min-width: 0;
    }
    .box-right{
        margin-left: auto;
        margin-right:auto;
        width:100%;
        min-width: 0;
    }
    .form-publish{
        width: 60%;
        padding: 3rem 3rem !important;
    }

}

@media (max-width: 767px) {
    .login-registro{
        width: 95%;
        min-width: 16rem;
    }
    .div-form-login-registro{
        width:85%;
    }
    /**/
    .form-publish{
        width: 80%;
        padding: 3rem 2rem !important;
    }
}

@media (max-width: 575px) {
    .boton-login{
        width:100% !important;
    }
    .div-form-login-registro{
        width:100%;
    }
    /**/
    .tarjeta{
        width:17rem;
    }
}

.card:hover{
    transform: translateX(-15px);
    
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.2);
}
.card img{
    width: 288px;
    height: 200px;
}